* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #E7E7E7;
    margin-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #009432;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 4px solid #000;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.aprovado {
    background-color: green;
}

.reprovado {
    background-color: red;
}